/* Diseño de la Foto */

#mifoto {
  width: 210px;
  border:3px solid #FF0000;
  border-radius: 10px;

}

/* Diseño de los fieldset */

fieldset {
  border-radius: 10px;
}

/* Diseño de la cabecera */

.cabecera {
  width: 700px;
  height: 250px;


}

/* Diseño del Título */

h2 {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 45px
}

#titulo {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

/* Diseño de los Datos */

#datos {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  align-items: center;

}

table {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Diseño de Sobre Mí */

#general {

  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* Diseños de los Legend */

#legend {
  background-color: grey;
  font-size: 25px;
}

/* Indice del Currículoum */

#subindice {
  text-align: center;
  font-family: new times roman;
  font-size: 30px;
  font-variant: small-caps;
}

#indice {
  width: 400px;
  margin-left: auto;
  margin-right: auto;

}
  /* Animacion Boton */

.botonpersonalizado {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 6px;
    border: 2px solid ;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

.botonpersonalizado:hover {
    color: #000000;
    background-color: #ffffff;
}

/* Diseño de Links */

a:link.link1 {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

a:visited.link1 {
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

a:hover.link1 {
  color: red;
  text-decoration: none;
  font-weight: bold;
