label{
  display: inline-block;
  width: 150px;
}

#actividades {
  float: left;
}

#prueba {
  float: left;
  text-align: right;

}

#fobias {
  float: left;
}

#boton {
  margin-left: 158px;
}

#prueba2 {
  float: left;
  text-align: right;
  line-height: 40px;
}

#pobis {
  float: left;
  text-align: right;
  line-height: 60px;
}

body {
  width: 1000px;
  margin:auto;
}
