h1 { border-bottom:5px dotted #aaaa00; text-align:right; color:brown; margin-top:50px }
div {text-align:justify; padding:20px; margin:10px; border:1px dashed; }
#clase1 { background:#eeeeff; }
#clase2 { background:#ffffee; }